/*
// Created: July 13, 2017; 3:15 PM
// Author: Jonathan Gryn
// Revisions: Jon (7/13/17) - Added style
//			  Jon (7/15/17) - Changed font style    
*/
body {
  font-family: arial;
  text-align: center;
  background-color: black;
  color: white;
}

h1 {
  color: yellow;
}

.jumbotron {
  box-sizing: border-box;
  height: 600px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0);
}
.main-button-container {
  margin-top: 175px;
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
}
.timer-p {
	margin-top: 40px;
}
.answer:hover {
  background: green;
}
.answer {
  padding-top: 7px;
  height: 45px;
  color: black;
  padding-left: 14px;
  background-color: white;
  border-radius: 4px;
}
.img-wrong {
  margin-top: 40px;
}
.first-answer {
  margin-top: 40px;
}
.reset-button {
  margin-top: 40px;
}
.summary-correct {
  margin-top: 40px;
}
